#logout{
    background-color: var(--grey-6);
    color: var(--brand-1);
    border: 1px solid var(--brand-1);
    font-weight: var(--weigth-1);
    height: 35px;
    width: 90px;
}
#logout:hover{
    background-color: var(--brand-2);
    color: var(--grey-6);
}

main{
    margin-top: 95px;
}

.container__select{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 0 6%;
    margin-bottom: 20px;
}

select{
    width: 190px;
    height: 35px;
    padding: 5px;
    background-color: var(--brand-1);
    border: none;
    color: var(--grey-6);
    font-size: var(--font-size-title2);
    font-weight: var( --weight-2);
    cursor: pointer;
}


.department__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 6%;
}

button{
    color: var(--grey-6);
    background-color:var(--brand-1);
    border: none;
    width: 90px;
    height: 30px;
    cursor: pointer;
}
button:hover{
    background-color: var(--brand-2);
}

section{
    margin-bottom: 50px;
}

h2{
    color: var(--grey-1);
    font-weight: 600;
    font-size: var(--font-size-title2);
}


li{
    list-style: none;
}

.department__container{
    box-shadow: 2px 4px 0.5em var(--grey-3);
    background-color: var(--grey-5);
    height: 280px;
    margin: 10px 6% ;
}

.department__container > ul{
    height: 100%;
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    overflow-y: scroll;
}

.department__item{
    border: solid 1px var(--brand-1);
    background-color: var(--grey-6);
    height: 120px;
    width: 360px;
    margin-bottom: 30px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.department__data{
    display: flex;
    flex-direction: column;
}

.department__buttons{
    display: flex;
    flex-direction: column;
}

.department__view{
    width: 20px;
}

.users >h2{
    margin-left: 6%;
}

.users__list{
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    overflow-y: scroll;
    background-color: var(--grey-5);
    height: 280px;
    margin: 10px 6% ;
    border: 1px solid red;
}

.users__list > li{
    border: solid 1px var(--brand-1);
    background-color: var(--grey-6);
    height: 100px;
    width: 360px;
    margin-bottom: 30px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

p{
    font-size: var(--font-size-text1);
    font-weight: 600;
    color: var(--grey-1);
}

span{
    font-size: var(--font-size-text2);
    color: var(--grey-1);
}

.list__buttons{
    display: flex;
    flex-direction: column;
    margin: 10px ;
}

img{
    height: 20px;
    width: 15px;
    margin-bottom: 10px;
    cursor: pointer;
}











